
/* imaginer */

.imaginer-wrapper{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #333333;
    width: 100vw;
    gap: 10px;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    height: fit-content;
}

.imaginer-top-side{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
    scroll-snap-align: start;
}

.imaginer-bottom-side{
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
    scroll-snap-align: start;
    background-color: black;
    padding-top: 10px;
}


/* Scrool Bar Start */

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: gray;
}

::-webkit-scrollbar
{
    border-radius: 10px;
	width: 5px;
	background-color: gray;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/* Scrool Bar End */

.imaginer-header{
    width: 100%;
    min-height: 70px;
    background-color: black;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imaginer-header-left{
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}
.imaginer-header-right{
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
}

.imaginer-body-top{
    width: 100%;
    gap: 10px;
    height: 16%;
    display: flex;
    justify-content: center;
    
}

.imaginer-body-right-input-wrapper{
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border: 1px solid gray;
    border-radius: 3px;
    height: 100%;

}

#input1{
    width: 100%;
    height: 100%;
    background-color: #333333;
    border: none;
    outline: none;
    color: white;
    box-sizing: border-box;
    padding-top:2px ;
    padding-left: 5px;
}

.imaginer-body-buttonwrapper{
    width: 100px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px gray;
}





#file-label{
    width: 100%;
    height: 100%;
    color: white;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#select1{
    width: 100%;
    height: 100%;
    color: white;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#imaginer-button{
    width: 100%;
    height: 100%;
    color: white;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imaginer-body-left-top{
    height: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #333333;
    box-sizing: border-box;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px gray;

}
.imaginer-body-right-top{
    box-shadow: 1px 1px 1px 1px gray;
    width: 1300px;
    height: 100%;
    box-sizing: border-box;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imaginer-body-center{
    width: 100%;
    gap: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.imaginer-body-left-center{
    width: 700px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    gap: 10px;
    box-sizing: border-box;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px gray;
}

.imaginer-body-right-center{
    width: 700px;
    height: 100%;
    box-sizing: border-box;
    padding: 7px;  
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px gray;
}

#dropzone1{
    width: 100%;
    height: 100%;
    border: 1px dashed gray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#dropzone1:hover{
    border: 1px dashed white;
    color: white;
}

.accordion{
    width: 100%;
    height: 100%;
}

#accordion-opener{
    width: 100%;
    height: 9%;
    color: white;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease-out;
}

#accordion-opener:active{
    scale: 0.9;
}

#accordion-opener:hover{
    background-color: #333333;
}

#accordion-wrapper{
    width: 100%;
    height: 0px;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    transition: all 300ms ease-out;
}

.imaginer-body-left-bottom{
    width: 100%;
    height: 9%;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms ease-out;
}

.imaginer-body-right-bottom{
    width: 700px;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px gray;
}



.imaginer-body-left-bottom-top-div{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-wrapper{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* imaginer */