body {
    
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;    
    color: #333333;
    margin: 0;
    padding: 0;    
    max-width: 960px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3px;
    margin: 3px;
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1px;
    margin: 0px;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1px;
    margin: 0px;
}

.panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2px;
    margin: 2px;
    border: 1px solid #444;
    background-color: white;
    transition: all 300ms ease-out;    
}


.right {
    justify-content: flex-end;
}
.center {
    justify-content: center;
}
.dark {
    background-color: #444;
    color: #fff;
}

.border {
    border: 1px solid #444;
}

.border_dark {
    border: 1px solid #777;
}


.hidden {
    display: none;
}

input { 
    outline: none;
    height: 1.2rem;        
    margin: 2px;
    background-color: #fff;
    border: #aaa 1px solid;
    flex-grow: 1;
}

input:focus {
    box-shadow: inset 0 0 3px #88a;
}

label {    
    margin-bottom: 5px;
    align-self: center;
    padding: 4px 2px 0px 2px;
    text-align: right;
}
.w2 { width: 2rem; }
.w3 { width: 3rem; }
.w4 { width: 4rem; }
.w5 { width: 5rem; }
.w6 { width: 6rem; }
.w7 { width: 7rem; }
.w8 { width: 8rem; }
.w9 { width: 9rem; }
.w10 { width: 10rem; }
.w11 { width: 11rem; }
.w12 { width: 12rem; }
.w13 { width: 13rem; }
.w14 { width: 14rem; }
.w15 { width: 15rem; }
.w16 { width: 16rem; }
.w17 { width: 17rem; }
.w18 { width: 18rem; }
.w19 { width: 19rem; }
.w20 { width: 20rem; }
.wall { width: 100%; }

.h2 { height: 2rem; }
.h3 { height: 3rem; }
.h4 { height: 4rem; }
.h5 { height: 5rem; }
.h6 { height: 6rem; }
.h7 { height: 7rem; }
.h8 { height: 8rem; }
.h9 { height: 9rem; }
.h10 { height: 10rem; }
.h11 { height: 11rem; }
.h12 { height: 12rem; }
.h13 { height: 13rem; }
.h14 { height: 14rem; }
.h15 { height: 15rem; }
.h16 { height: 16rem; }
.h17 { height: 17rem; }
.h18 { height: 18rem; }
.h19 { height: 19rem; }
.h20 { height: 20rem; }

.p1 { padding: 1px; }
.p2 { padding: 2px; }
.p3 { padding: 3px; }
.p4 { padding: 4px; }
.p5 { padding: 5px; }
.p6 { padding: 6px; }
.p7 { padding: 7px; }
.p8 { padding: 8px; }

.flex-grow-1 {
    flex-grow: 1;
}

button {
    height: 1.4rem;   
    margin: 2px;
    padding: 1px;    
}

.list-group {
    overflow-y: scroll;
    overflow-x: hidden;
  
    display: flex;
    flex-direction: column;    
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
    height: max-content;    
}    

.list-group::-webkit-scrollbar {
    width: 0px;
    height: 13px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    padding: 1px;    
    margin: 0px;
    width: 98%;
    transition: background 300ms ease-out;
    cursor: pointer;
}

.list-group-item p {
    margin: 0;
    padding: 0;
    height: 1rem;
}
.list-group-item:hover {
    display: flex;
    flex-direction: row;
    background-color: #ccc;
}

.list-group-item.selected {
    background-color: #eee;
    border: 1px solid #444;
    padding: 0px;
}