body {
    overflow-x: hidden;
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;    
    color: #333333;
    margin: 0;
}

/* imaginer */

.imaginer-wrapper{
    display: flex;
    flex-direction: column;
    color: white;
    height: fit-content;
    overflow: hidden;
    background-color: rgb(43, 39, 39);
    padding-bottom: 10px;
    width: 100vw;
    height: 100vh;
    gap: 10px;
    box-sizing: border-box;
}

/* Scrool Bar Start */

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: gray;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: gray;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/* Scrool Bar End */

.imaginer-header{
    width: 100%;
    height: 50px;
    background-color: black;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imaginer-header-left{
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.imaginer-header-right{
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.imaginer-body-top{
    width: 100%;
    gap: 10px;
    height: 15%;
    display: flex;
    justify-content: center;
    
}

.imaginer-body-right-input-wrapper{
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 39, 39);
    border: 1px solid gray;
    border-radius: 3px;
    height: 100%;

}

#input1{
    width: 100%;
    height: 100%;
    background-color: rgb(43, 39, 39);
    border: none;
    outline: none;
    color: white;
    box-sizing: border-box;
    padding-top:2px ;
    padding-left: 5px;
}

.imaginer-body-buttonwrapper{
    width: 100px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px gray;
}

#select1{
    width: 100%;
    height: 50%;
    color: white;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#imaginer-button{
    width: 100%;
    height: 50%;
    color: white;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imaginer-body-left-top{
    width: 350px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px gray;

}
.imaginer-body-right-top{
    box-shadow: 1px 1px 1px 1px gray;
    width: 940px;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imaginer-body-center{
    width: 100%;
    gap: 10px;
    height: 45%;
    display: flex;
    justify-content: center;
}

.imaginer-body-left-center{
    width: 700px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px gray;
}

.imaginer-body-right-center{
    width: 700px;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px gray;
}

#dropzone1{
    width: 100%;
    height: 100%;
    border: 1px dashed gray;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#dropzone1:hover{
    border: 1px dashed white;
    color: white;
}

.imaginer-body-bottom{
    width: 100%;
    gap: 10px;
    height: 45%;
    display: flex;
    justify-content: center;
}

.imaginer-body-left-bottom{
    width: 700px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px gray;

}

.imaginer-body-right-bottom{
    width: 700px;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px gray;
}

/* imaginer */


#muge.button {
    background-color: #444;
    color: #fff;
    border: #333333 1px solid;
    border-radius: 6px;
    padding: 2px 4px 2px 4px;
}
.semih {
    font-size: 2.8rem;
    font-weight: 600;
    color: #444;
    border: #333333 1px solid;
    border-radius: 6px;
    padding: 2px 4px 2px 4px;
}
.semih:hover {
    background-color: #444;
    color: #fff;
}

button {
    height: 1.4rem;   
    margin: 2px;
    padding: 1px;    
}

button.selected {
    background-color: #444;
    color: #fff;
}
img.selected {
    border: 1px solid #444;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1px;
    margin: 0px;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1px;
    margin: 0px;
}

.panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2px;
    margin: 2px;
    border: 1px solid #444;
    background-color: white;
    transition: all 300ms ease-out;    
}


.right {
    justify-content: flex-end;
}
.center {
    justify-content: center;
}
.dark {
    background-color: #444;
    color: #fff;
}

.border {
    border: 1px solid #444;
}

.border_dark {
    border: 1px solid #777;
}


.hidden {
    display: none;
}

input { 
    outline: none;
    height: 1.2rem;        
    margin: 2px;
    background-color: #fff;
    border: #aaa 1px solid;
}

input:focus {
    box-shadow: inset 0 0 3px #88a;
}

label {    
    margin-bottom: 5px;
    align-self: center;
    padding: 4px 2px 0px 2px;
    text-align: right;
}
.w2 { width: 2rem; }
.w3 { width: 3rem; }
.w4 { width: 4rem; }
.w5 { width: 5rem; }
.w6 { width: 6rem; }
.w7 { width: 7rem; }
.w8 { width: 8rem; }
.w9 { width: 9rem; }
.w10 { width: 10rem; }
.w11 { width: 11rem; }
.w12 { width: 12rem; }
.w13 { width: 13rem; }
.w14 { width: 14rem; }
.w15 { width: 15rem; }
.w16 { width: 16rem; }
.w17 { width: 17rem; }
.w18 { width: 18rem; }
.w19 { width: 19rem; }
.w20 { width: 20rem; }
.wall { width: 100%; }

.h2 { height: 2rem; }
.h3 { height: 3rem; }
.h4 { height: 4rem; }
.h5 { height: 5rem; }
.h6 { height: 6rem; }
.h7 { height: 7rem; }
.h8 { height: 8rem; }
.h9 { height: 9rem; }
.h10 { height: 10rem; }
.h11 { height: 11rem; }
.h12 { height: 12rem; }
.h13 { height: 13rem; }
.h14 { height: 14rem; }
.h15 { height: 15rem; }
.h16 { height: 16rem; }
.h17 { height: 17rem; }
.h18 { height: 18rem; }
.h19 { height: 19rem; }
.h20 { height: 20rem; }

.p1 { padding: 1px; }
.p2 { padding: 2px; }
.p3 { padding: 3px; }
.p4 { padding: 4px; }
.p5 { padding: 5px; }
.p6 { padding: 6px; }
.p7 { padding: 7px; }
.p8 { padding: 8px; }

.flex-grow-1 {
    flex-grow: 1;
}


.list-group {
    overflow-y: scroll;
    overflow-x: hidden;
  
    display: flex;
    flex-direction: column;    
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
    height: max-content;    
}    

.list-group::-webkit-scrollbar {
    width: 0px;
    height: 13px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    padding: 1px;    
    margin: 0px;
    width: 98%;
    transition: background 300ms ease-out;
    cursor: pointer;
}

.list-group-item p {
    margin: 0;
    padding: 0;
    height: 1rem;
}
.list-group-item:hover {
    display: flex;
    flex-direction: row;
    background-color: #ccc;
}

.list-group-item.selected {
    background-color: #eee;
    border: 1px solid #444;
    padding: 0px;
}