@font-face {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: unset;
    src: local('Arial Black'), url('fonts/Arial-Black-Italic.TTF') format('truetype');
    }
  * {
    font-family: 'Arial Black', sans-serif  !important;
    font-style:italic;
    
  }
#main{
    background-color: black;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
}

#navbar{
    position: relative;
    height: 6%;
    padding: 0 32px;
    align-items: center;
    display: flex;
    width: auto;
}

#search_area{
    position: absolute;
    width: 20%;
    height: 50%;
}

#search_input{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #444;
    color: black;
    opacity: 0.3;
    transition: all 300ms ease-out;
    font-size: 15px;
}
#search_input:focus{
    opacity: 1;
}

#content{
    position: relative;
    height: 94%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 40px;
    align-content: start;
}

#tools_container{
    justify-content: space-around;
}

#tool_image{
    position: relative;
    width: 15% !important;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  #middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

  #tool_image:hover .image {
    opacity: 0.3;
  }

#tool_image:hover #middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }